.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  padding-bottom: 178px;
}

.textone {
  text-align: center;
  font-family: "Istok Web";
  text-shadow: red 0px 0px 3px ;
  font-size: 20px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 95px;
  
}


.social img {
width: 115px;
height: 115px;
cursor: pointer;
}

.textdesc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 45px;
}


@media (max-width: 768px) {
  .container {
    padding-bottom: 98px;
  }
}


@media (max-width: 428px) {
 .textone {
  font-size: 15px;
 }
}

@media (max-width: 375px) {
  .social {
    gap: 75px;
  }

  .textdesc {
    gap: 25px;
  }
}

@media (max-width: 320px) {
  .textdesc { 
    font-size: 10px;
    gap: 49px;
  }

  .textone {
    font-size: 10px;
  }
}